/*orange: FF6D33*/
/*between orange F5B66C*/
/*light orange: F7D0A1*/
/*brown 4A1313*/

/*left block orange F0DAC0
right block orange  F2CFA5
*/

body{
  margin: 0;
  padding: 0;
  color: #636363;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
.bold{
  font-weight: bold;
  font-size: 20px;
}
section{
  margin: 80px auto;
}
/**************    HEADER    *************/
header{
  line-height: 100px;
  height: 100px;
  width: 100%;
  box-shadow: 4px 4px 4px #F7D0A1;
  margin-bottom: 50px;
}
.logo, .nav, .mobile-nav{
  display: inline-block;
}
.logo{
  width: 180px;
}
.nav, .mobile-nav{
  float: right;
}
.nav li{
  display: inline-block;
  padding-left: 20px;
}
.nav li:hover{
  color: #FF6D33;
  transform: scale(1.3);
}
.mobile-nav{
  display: none;
}
/**************    MAIN SECTION   ************/
.block{
  padding: 0;
}
.order-description{

}
.order-description div{
  /*border: 1px solid red;*/
}
.service-info, .customer-info{
  min-height: 470px;
  padding: 20px;
}

/* customer info */
.customer-info{
  background: #E8E8E8;
}

/* service info */
.service-info{
  background: #E8E8E8;
}
.service-add, .service-main{
  display: inline-block;
}
.service-add{
  text-align: center;
}
.service-addition{
  display: inline-block;
}
.service-info a{
  color: white !important;
}
.button{
  background: #FAC084;
  width: 140px;
  height: 40px;
  line-height: 40px;
  color: white;
  margin: 25px auto;
}
.total-price{
  background: #2BA178;
}
.over{
  background: #1C694E;
}


/* map */
#map-canvas{
  background: #ccc;
  width: 300px;
  height: 240px;
  margin: 10px auto;
}

.place-order{
  text-align: center;
  padding: 30px;
}
/**************    FOOTER    *************/

/**************    MOBILE    *************/
@media only screen and (min-width: 320px) and (max-width: 520px){
  .nav{
    display: none;
  }
  .mobile-nav{
    display: block;
    margin: 0 30px;
  }
  .full-nav{
    background: white;
    width: 100vw;
    height: 100vh;
    text-align: center;
  }
  .full-nav, .full-nav li{
    display: block;
  }
  .service-info{
    text-align: center;
  }
}